.title {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 50px;
}
.classe1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
.form-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.form-group input {
    margin-left: 5px;
    padding: 5px;
}